/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.clearfix::after,
:root {
    --red: #dc3545;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

ol {
    list-style-type: none;
}


/* ================
Calendar Styling */

.calendar {
    width: 100%;
    max-width: 274px;
    height: 176px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.calendar .row {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.cell {
    flex: 1;
}

.bl:not(:nth-child(1)) {
    border-left: 1px solid black;
}

.day-title {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}

.today {
    background-color: var(--gray-dark);
    color: var(--white);
}

.events {
    flex: 1;
}

.event {
    overflow: hidden;
    text-overflow: ellipsis;
}

.event:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.event-list {
    padding: 5px;
    overflow: hidden;
}
